s D:\\MHA_NLP\\Glenn\\FinalTrainingDataBeforeAnnotationAndReviewByElliotAndRuth\\PTSD_RaptatTrainingOnIBM_v02_20170203142752.soln
e D:\\MHA_NLP\\Glenn\\ElliotCorpusForRaptatTrainingTesting_160923\\RaptatXmlOutputOfElliotTestingData
c D:\\MHA_NLP\\Glenn\\FinalTrainingDataBeforeAnnotationAndReviewByElliotAndRuth\\AcceptableConcepts_161209.txt
t D:\\MHA_NLP\\Glenn\\ElliotCorpusForRaptatTrainingTesting_160923\\ElliotCorpusForTraining
e ehost