s D:\ORD_Matheny_201312053D\Glenn\AKI_Retraining_170920\TrainingSetTrainedSolution_v01_20170920161014.soln
t D:\ORD_Matheny_201312053D\Glenn\AKI_Retesting_170920\TestingCorpus
e D:\ORD_Matheny_201312053D\Glenn\AKI_Retesting_170920\RaptatGeneratedTestingCorpusXML
c D:\ORD_Matheny_201312053D\Glenn\AKI_Retraining_170920\SolutionTrainingEntities\AcceptableConcepts_160606.txt
a ehost